@import url("https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@0..100&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import "tailwindcss";

@theme {
  --font-geist-pixel: "Geist Pixel", sans-serif;
  --font-montserrat:  "Montserrat", sans-serif;
  --font-jersey: "Jersey 20", sans-serif;

  --color-accent: #5729ff;
  --color-background: #2000af;
  --color-texts: #171f36;
  --color-text-white: #e7edff;
  --color-shadow: #ff006a44;
  --color-light: #c1b0ff5d;
  --color-light-solid: #c1b0ff;
  --color-pnk: #ff006a;
  --color-pnk-light: #ffa4ca;
  --color-banner-bg: #0d0a41;
  --color-banner-light: #f3d2da;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.sup-container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.accent{
  color: #171f36;
  color: #0d0a41;
  color: #2000af;
  color: #5729ff;
  color: #c1b0ff;
  color: #e7edff;
  color: #f3d2da;
  color: #ffa4ca;
  color: #ff006a;
}